#main {
    display: relative;
    #back-picture {
        position: fixed;
        width: 80%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    #text {
        position: absolute;
        width: 80%;
        top: 60px;

        #text-top {
            width: 100%;
            background-color: var(--grey-100);
            padding: 20px 0;

            h1 {
                padding: 0;
                margin: 0px;
                margin-bottom: 25.9424px;
            }
        }

        .text {
            background-color: var(--grey-100);
            max-width: 800px;
            margin: auto;
            border-radius: 5px;

            h1,
            h2,
            h3,
            h4,
            h5 {
                margin: 0;
                padding-top: 25px;
                padding-bottom: 20px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            li,
            img {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .green {
            background-color: var(--primary);
            color: white;
        }

        .grey {
            background-color: var(--grey-100);
            color: black;
        }

        .white {
            background-color: white;
            color: black;
        }

        .black {
            background-color: black;
            color: white;
        }
    }

    .pictures {
        width: 30%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .first {
        float: left;
    }

    .first img {
        float: left;
    }

    .second {
        float: right;
    }

    .second img {
        float: right;
    }

    #text {
    }

    #final {
        font-size: x-large;
        text-align: center;
    }

    p,
    li {
        font-size: larger;
        line-height: 50px;
        margin: 0;
    }

    li,
    ul {
        padding-bottom: 10px;
        margin: 0;
    }

    .content,
    .text {
        font-family: lato;
        color: black;
    }

    @media (max-aspect-ratio: 5/4) {
        #pictures {
            left: 0;
            float: initial;
            width: 95%;
            margin: 2.5%;
        }
    }
}
