<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>Gîte de l'Orme</title>
        <meta charset="UTF-8" />
        <link rel="icon" href="les_photos/icon.png" />
        <link href="style.css" type="text/css" rel="stylesheet" />
        <link href="style-gallerie.css" type="text/css" rel="stylesheet" />

        <script src="event.js"></script>
    </head>

    <body>
        {% include "_header.html.twig" %}

        <div id="main" class="main-centered">
            <h1 id="title">Gallerie :</h1>
            <hr />

            <div id="sub-main">
                <h2>Extérieur</h2>
                <div class="card">
                    <img src="les_photos/jardin_gite.jpg" alt="jardin_gite" />
                </div>
                <div class="card">
                    <img src="les_photos/balancoire.jpg" alt="jardin_gite" />
                </div>
                <div class="card">
                    <img src="les_photos/acces_pavee.jpg" alt="jardin_gite" />
                </div>
                <div class="card">
                    <img src="les_photos/dalle_pavee.jpg" alt="jardin_gite" />
                </div>
                <div class="card">
                    <img
                        src="les_photos/entree_terasse.jpg"
                        alt="jardin_gite"
                    />
                </div>
                <div class="card">
                    <img src="les_photos/jardin.jpg" alt="jardin_gite" />
                </div>
                <div class="card">
                    <img src="les_photos/jeux_enfants.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/jeux_enfants_2.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/vue_fenetre.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/parking.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/terrasse.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/terrasse_2.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/terrasse_3.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/terrasse_nuit.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/mare.jpg" alt="mezzanine" />
                </div>
                <hr />

                <h2>Rez de Chaussé</h2>
                <div class="card">
                    <img src="les_photos/rez_cuisine.jpg" alt="rez_cuisine" />
                </div>
                <div class="card">
                    <img src="les_photos/chambre_2.jpg" alt="chambre_2" />
                </div>
                <div class="card">
                    <img src="les_photos/cuisine.jpg" alt="cuisine" />
                </div>
                <div class="card">
                    <img
                        src="les_photos/grande_chambre.jpg"
                        alt="grande_chambre"
                    />
                </div>
                <div class="card">
                    <img src="les_photos/rez_tv.jpg" alt="grande_chambre" />
                </div>
                <hr />

                <h2>Etage</h2>
                <div class="card">
                    <img src="les_photos/mezzanine.jpg" alt="mezzanine" />
                </div>
                <div class="card">
                    <img src="les_photos/cabane.jpg" alt="mezzanine" />
                </div>
            </div>
        </div>

        <footer></footer>
    </body>
</html>
