<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

  <head>
    <title> Gîte de l'Orme </title>
    <meta charset="UTF-8" />
    <link rel="icon" href="les_photos/icon.png">
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link href="style-index.css" type="text/css" rel="stylesheet" />

    <script src="event.js"></script>
  </head>

  <body>
      <header>
        {% include "_header.html.twig" %}


        <div id="main">
            <img src='les_photos/jardin_gite.jpg' id='diapo' alt='picture'></img>
        </div>


    </div>



<footer> </footer>
  </body>
